<div class="container">
  <ng-container *ngIf="!logado; else usuarioLogado">
    <div class="login-container center" style="position: relative">
      <!-- <div class="logo"></div> -->
      <input
        type="text"
        class="input cor"
        style="margin: 0;"
        placeholder="Usuário"
        [(ngModel)]="usuario"
        (click)="clearMessages()"
      />
      <br />
      <input
        type="password"
        class="input"
        style="margin: 0;"
        placeholder="Senha"
        [(ngModel)]="senha"
        (click)="clearMessages()"
      />
      <br />
      <div class="lembrar">
        <input type="checkbox" id="cb-lembrar" [(ngModel)]="lembrar" />
        <label for="cb-lembrar">Lembrar</label>
      </div>
      <br />
      <button (click)="login()">Acessar</button>
      <p class="error" style="margin-top: 10px" *ngIf="mensagemErro">
        {{ mensagemErro }}
      </p>
    </div>
    <!-- <div class="v-line"></div>
    <div class="h-line"></div> -->
  </ng-container>
  <ng-template #usuarioLogado>
    <br />
    <div class="a" *ngIf="resultadoBiometria">
      <div class="pd20 bd-r5 shadow mg20-b mg20-t bg center" *ngIf="payload">
        <pre style="text-align: left">
        <code>
{{ resultadoBiometria }}
        </code>
    </pre>
        <button (click)="copyPayload()">Copiar</button>
        <br />
      </div>
    </div>

    <button class="btn" (click)="openCam()">Abrir Câmera</button>

    <br />
    <br />
    HISTÓRICO DE BIOMETRIA <br />
    <table>
      <tr>
        <th>id</th>
        <th>face_match</th>
        <th>has_biometry</th>
        <th>liveness</th>
        <th>score</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of biometriasAnteriores">
        <td>{{ item.id_biometria }}</td>
        <td>{{ item.face_match }}</td>
        <td>{{ item.has_biometry }}</td>
        <td>{{ item.liveness }}</td>
        <td>{{ item.score }}</td>
        <td>
          <button (click)="buscarBiometria(item.id_biometria)" class="sm secondary">
            Atualizar
          </button>
        </td>
      </tr>
    </table>
  </ng-template>
</div>

<div class="spinner-container" *ngIf="processando">
  <div class="spinner"></div>
</div>

<p class="sair" (click)="sair()">Sair</p>
