<div class="container pd20">
  <div class="center">
    <input
      type="text"
      class="input"
      placeholder="CPF"
      [(ngModel)]="Code"
      (click)="clearMessages()"
    />
    <br />
    <input
      type="text"
      class="input"
      placeholder="Nome"
      [(ngModel)]="Name"
      (click)="clearMessages()"
    />
    <br />
    <input
      type="date"
      class="input"
      [(ngModel)]="BirthDate"
      (click)="clearMessages()"
    />
    <br />
    <input
      type="text"
      class="input"
      placeholder="Email"
      [(ngModel)]="Email"
      (click)="clearMessages()"
    />
    <br />
    <input
      type="text"
      class="input"
      placeholder="Telefone"
      [(ngModel)]="Phone"
      (click)="clearMessages()"
    />
    <br />
    <p style="color: red; margin-bottom: 10px">{{ alertMessages.Code }}</p>
    <p style="color: red; margin-bottom: 10px">{{ alertMessages.Name }}</p>
    <p style="color: red; margin-bottom: 10px">{{ alertMessages.BirthDate }}</p>
    <p style="color: red; margin-bottom: 10px">{{ alertMessages.Email }}</p>
    <p style="color: red; margin-bottom: 20px">{{ alertMessages.Phone }}</p>
    <!-- checkbox -->
    <input type="checkbox" id="checkbox" [(ngModel)]="saveData" />
    <label for="checkbox">Salvar dados</label>
    <br />
    <br />

    <button class="btn" (click)="openCam()">Abrir Câmera</button>
  </div>

  <!-- exibir um json -->
  <div class="pd20 bd-r5 shadow mg20-b mg20-t bg center" *ngIf="payload">
    <pre style="text-align: left">
        <code>
{{ payload }}
        </code>
    </pre>
    <button (click)="copyPayload()">Copiar</button>
  </div>
</div>
