/* Reset básico para remover estilos padrão do navegador */
input[type="text" i],
input[type="password" i],
input[type="date" i],
input[type="email" i] {
  margin: 0;
  border: none;
  padding: 0;
  display: block;
  width: 100%;
}

/* Estilização geral dos inputs */
input[type="text" i],
input[type="password" i],
input[type="email" i] {
  padding: 15px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cor);
  background-color: var(--bg);
  border: 1px solid var(--cor);
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Efeito de foco para os inputs */
input[type="text" i]:focus,
input[type="password" i]:focus,
input[type="email" i]:focus {
  box-shadow: var(--shadow);
}

/* Placeholder com estilo suave */
::placeholder {
  color: #999;
}

/* Estilização do label para combinar com o design do input */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

/* Ajustes no estilo do botão para alinhar com o design do input */
button {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--cor);
  color: var(--bg);
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--cor-hover);
}


button.sm{
  padding: 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}